<h1>Lista de Productos (HTTP)</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong>
      - Precio:
      {{this.price}}
      - Stock:
      {{this.stock}}
    </li>
  {{/each}}
</ul>